/* :root {
    --color-grey-light: #F6F6F6;
    ;
    --color-green-light: #99E2D0;
    --color-green-dark: #008766;

    --color-background: var(--color-grey-light);

    --font-default: "Poppins", serif;
    --font-title: "Shrikhand", serif;
} */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.balsamiq-sans-regular {
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.balsamiq-sans-bold {
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.balsamiq-sans-regular-italic {
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.balsamiq-sans-bold-italic {
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Balsamiq Sans', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Balsamiq Sans', sans-serif;
}

p {
    font-family: 'Balsamiq Sans', sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    flex-grow: 1;
    /* Fait en sorte que le nav prenne tout l'espace disponible */
    text-align: center;
    /* Centre le lien "Accueil" à l'intérieur du nav */
}

i {
    display: flex;
    /* Pour s'assurer que l'icône est bien alignée */
    align-items: center;
}

a {
    text-decoration: none;
    /* Retirer le soulignement par défaut */
    font-size: 18px;
    /* Ajuster la taille de la police si nécessaire */
    color: black;
    /* Modifier la couleur si nécessaire */
}

.search_image {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;

    img {
        width: 100%;
        max-height: 600px;
        object-fit: cover;
    }

    div:nth-child(2) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(1px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 50px;

        .search_box {
            position: relative;
            background-color: #ffff;
            height: auto;
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 2px;

            input {
                /* margin-top: 10px; */
                padding: 5px;
                width: 80%;
                border: #008766;
            }

            input:focus {
                border: none;
                outline: none;
            }

            button {
                border: none;
                background-color: #ffff;
            }
        }

        h1 {
            text-align: center;
            color: #FFD966;
            font-size: 40px;
        }
    }
}

.filtreList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 0px 20px;
    grid-auto-rows: 1fr;

    button {
        padding: 5px 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: orangered;
        border-radius: 5px;
        color: white;

        i {
            color: #008766;
        }
    }
}

fieldset {
    border: none;
    padding: 5px;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
    /* background-color: #FFD966; */

    .fieldset_content {
        display: none;
        padding: 5px;
        max-height: 150px;
        /* Ajuste la hauteur selon tes besoins */
        overflow-y: auto;
        border-radius: 5px;
        background-color: #FFD966;
        input[type="text"] {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Ombre légère */
        }

        div {
            margin-top: 5px;
            padding: 5px;
            max-height: 80px;
            /* Ajuste la hauteur pour afficher 4 lignes */
            overflow-y: auto
        }
    }

    /* .fieldset_content:hover {
        display: block;
    } */
    legend {
        display: flex;
        justify-content: space-between;

        /* background-color: #008766; */
        padding: 5px;
        width: 175px;
    }
}

.filtre {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    padding: 10px;
}

.fieldsetDiv {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

@media (min-width: 500px) {
    .fieldsetDiv {
        flex-direction: row;
        /* For larger screens */
    }
    .filtre{
        flex-direction: row;
    }
    .filtreList {
        grid-template-columns: repeat(12, 1fr);
    }
}

.list_recettes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 60px;
    grid-auto-rows: 1fr;
}

@media (max-width: 500px) {
    .list_recettes {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
    }
}

.list_recettes_div {
    /* background-color: red; */
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 2px solid #008766;

    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    div {
        padding: 5px;
        /* background-color: blue; */
        flex-grow: 1;
    }
}

.list_ingredients {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}